form div {
    margin-bottom: 20px;
    display: flex;
}

form div label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-info {
  justify-content: space-between;
  gap: 20px;
}

input,
textarea {
  min-height: 50px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  padding: 3px 5px;
  outline: none;
}

.contacts li {
  list-style-type: circle;
  padding-left: 20px;
  list-style-position: inside;
}

.button {
  margin-top: 20px;
  color:rgb(0, 183, 255);
}

.box {
  width: 350px;
  padding: 50px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #005d72;
  text-align: center;
  border-radius: 3px;
}

.box h1 {
  color: rgb(221, 220, 220);
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "email"], .box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: rgb(221, 220, 220); 
  border-radius: 3px;
  transition: 0.25s;
}

.box input[type = "email"]:focus, .box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40;
  width: 110px;
  outline: none;
  color: rgb(221, 220, 220); 
  border-radius: 3px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #2ecc71;
}
